#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input {
  background-color: rebeccapurple;
}

label {
  text-shadow: 2px 2px rebeccapurple;
}

button {
  text-shadow: 2px 2px rebeccapurple;
}

.error {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {background-color: crimson;}
  75% {background-color: red;}
  100% {background-color: maroon;}
}